
*{
    margin: 0;
    padding: 0;
}

main{
   height: 100vh;
   width: 100vw;
   background-image: url('./assets/1\ \(1\).svg');
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center; 
}


.background{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    height: 75%;
    animation-duration: 4s;
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset; */
    width: 70%;
}

.slogan{
    height: 25%;
    width: 60%;
}

h2{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    color: aliceblue;
    font-style: oblique;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 50%;
}

.wrapper {
    animation: scroll 100s linear infinite;
   background-image: url('./assets/1\ \(1\).svg');
    color: #eee;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  
  @keyframes scroll {
    100% {
      background-position: 0px -400%;
    }
  }
  
  /* Fallback if the operatring system prefers reduced motion*/
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 800s linear infinite;
    }
  }
  
  @media (min-width: 670px) {
    .title {
      font-size: 5rem;
    }
  }
  